In [41]:
import numpy as np
import pandas as pd

In [42]:
cob_data = pd.read_csv('cob_data.csv')

cob_data

    Mark_Date          ID  Spread
0    20190102    F_VHLB_4    0.02
1    20190102    F_VHLB_5    0.03
2    20190102  F_VHLB_5.5    0.04
3    20190103    F_VHLB_4    0.05
4    20190103  F_VHLB_5.5    0.06
5    20190103    F_VHLB_5    0.07
6    20190104  F_VHLB_5.5    0.08
7    20190104    F_VHLB_5    0.09
8    20190104    F_VHLB_4    0.10
9    20190105    F_VHLB_4    0.11
10   20190105    F_VHLB_5    0.12
11   20190105  F_VHLB_5.5    0.13

In [43]:
cob_temp = cob_data.pivot(index='Mark_Date', columns='ID')
cob_temp.columns = cob_2.columns.droplevel()
cob_temp.to_csv('cob_temp.csv')
cob_temp

ID         F_VHLB_4  F_VHLB_5  F_VHLB_5.5
Mark_Date
20190102       0.02      0.03        0.04
20190103       0.05      0.07        0.06
20190104       0.10      0.09        0.08
20190105       0.11      0.12        0.13

In [44]:
cob_2 = pd.read_csv('cob_temp.csv')

cols_to_keep = ['Mark_Date','F_VHLB_4','F_VHLB_5']

cob_2 = cob_2[cols_to_keep]

cob_2

   Mark_Date  F_VHLB_4  F_VHLB_5
0   20190102      0.02      0.03
1   20190103      0.05      0.07
2   20190104      0.10      0.09
3   20190105      0.11      0.12

In [46]:
id_list = list(cob_2.columns.values)
id_list

['Mark_Date', 'F_VHLB_4', 'F_VHLB_5']